.button {
    width: 150px;
    height: 50px;
    background-color: aqua;
    color: coral;
    border: none;
    border-radius: 8px;
}

span {
    display: block;
}

.containerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disabledButton {
    width: 150px;
    height: 50px;
    background-color: rebeccapurple;
    color: black;
    border: none;
    border-radius: 8px;
}